<div class="popup-container">
    <div class="popup-header">
      <h2>⭐ Love OpenSeed?</h2>
      <button class="close-btn" (click)="closeDialog()" tabindex="-1">✖</button>
    </div>
    <div class="popup-body">
      <p>Support the project by giving us a star on GitHub!</p>
      <a href="https://github.com/akhilpvijayan/openseed" target="_blank" class="star-btn" (click)="onStarClick()">
        <i class="fab fa-github"></i> Star on GitHub
      </a>
      <br>
      <a href="https://www.buymeacoffee.com/growcodecoding" target="_blank"class="coffee-btn"><img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" height="41" width="174"></a>
      </div>
  </div>