<div #scrollContainer class="search-container" (scroll)="onContainerScroll()">
    <app-loader-skeleton *ngIf="isLoading && !isLoadMore && isInitialLoad"></app-loader-skeleton>
    <button *ngIf="showScrollToTopButton" (click)="scrollToTop()" class="scroll-to-top" [ngClass]="{ 'dark-mode': isDarkMode }">
        <i class="fa-solid fa-angles-up"></i>
      </button>
    <div *ngIf="issues.length > 0">
        <ul>
            <li *ngFor="let issue of issues">
                <div class="content">
                    <a [href]="issue?.html_url" target="_blank" class="title" [ngClass]="{ 'dark-mode': isDarkMode }"><b class="title-text">{{
                            issue?.title }}</b></a>
                    <p>{{ issue?.body }}</p>
                    <span class="repo-details"><i class="user fa-regular fa-user"></i>
                        {{ issue?.owner_name }}&nbsp;&nbsp;
                        Repo: {{ issue?.repository_name }}<br /></span>
                    <span class="details"><i class="fa-regular fa-star"> {{ issue?.stars_count ?? 0 }} </i>&nbsp; <i
                            class="fa-solid fa-language"></i>
                        {{ issue?.language }}&nbsp;
                        <i class="fa-solid fa-calendar-days">
                            {{ issue?.created_at | date }}</i>&nbsp;
                        <!-- <span [ngClass]="{ 'dark-mode': isDarkMode }" *ngIf="issue?.status">
                            Status: {{ issue?.status }}</span> -->
                        <span class="favourites-logo" *ngIf="!isBookmarked(issue)"><i class="fa-regular fa-star" (click)="toggleBookmark(issue)"></i></span>
                        <span class="favourites-logo" *ngIf="isBookmarked(issue)"><i class="fa-solid fa-star" (click)="toggleBookmark(issue)"></i></span>
                    </span>
                    <span *ngFor="let label of issue.labels">
                        <span class="tag"><span class="tag-text">{{label}}</span>
                        </span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="hasNextPage && !isInitialLoad && isLoadMore" class="load" (click)="loadIssues()">
        <button [ngClass]="{ 'dark-mode': isDarkMode }">
            <app-spin-loader *ngIf="isLoadMore"></app-spin-loader><span *ngIf="!isLoadMore">Load More..</span></button>
      </div>
      <div *ngIf="!hasNextPage && !isLoading" class="load">
        <p class="issues-end">No more issues to load.</p>
      </div>
      <div *ngIf="isEmptyBookmarks" class="load">
        <p class="issues-end">No issues in bookmark.</p>
      </div>
</div>