@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.search-container {
    max-height: 100%; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* For WebKit-based browsers (Chrome, Safari, Edge) */
.search-container::-webkit-scrollbar {
    width: 4px; /* Thinner scrollbar */
  }
  
  .search-container::-webkit-scrollbar-track {
    background: #f1f1f100; /* Background of the scrollbar track */
  }
  
  .isearch-container::-webkit-scrollbar-thumb {
    background-color: #5dc930; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }
  
  .search-container::-webkit-scrollbar-thumb:hover {
    background-color: #5dc930; /* Darker color when hovered */
  }
  
  /* For Firefox */
  .search-container {
    scrollbar-width: thin; /* Makes scrollbar thinner */
    scrollbar-color: #5dc930 #f1f1f100; /* Thumb and track colors */
  }

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid rgba(128, 128, 128, 0.374);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

    .content{
        margin-left: 10px;

        a{
            font-size: 20px;
            text-decoration: none;
            background-color: none;

            .dark-mode{
                background-color: none;
                color: white;
            }
        }

        p{
            margin: 0px;
        }

        span{
            font-family: "Fira Code", monospace;
            font-size: smaller;

            .dark-mode{
                color: rgba(255, 255, 255, 0.678);
                background-color: none;
            }
        }
    }

    &:hover{
        background-color: rgba(235, 235, 235, 0.082);

        a{
            color: #5dc930;

            .dark-mode{
                background-color: none;
            }
        }
    }
}

.user{
    font-size: 10px;
}

.load {
    display: flex; /* Add this line */
    align-items: center;
    justify-content: center;

    button{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        padding: 0.3em 1.4em 0.3em 1.1em;
        color: white;
        background: #0f0e0e;
        background: linear-gradient(135deg, #131f0e00 0%, #34930c00 100%);
        border: 1px solid rgb(57, 57, 57);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-bottom: 2px;
        color: grey;
        letter-spacing: 0.05em;
        border-radius: 0.5em;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      
        &:hover {
          transform: scale(1.05); 
        }
    }

    .dark-mode{
        color: rgba(255, 255, 255, 0.856);
        border: 1px solid white;
    }
}

.issues-end{
    color: grey;
}

.favourites-logo{
    float: right;
    margin-right: 5px;

    i{
        font-size: 15px;
    }
}

.tag{
    display: inline-block;
    white-space: nowrap;
    margin-right: 4px;
    padding: 2px 4px;
    border-radius: 5px;
    border: 1px solid;
    opacity: 0.8;

    .tag-text{
        padding-left: 5px;
        padding-right: 5px;
        word-break: keep-all;
    }
}

/* Base styles for the scroll-to-top button */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1ce;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .scroll-to-top:hover {
    background-color: #717171;
  }
  
  /* Dark mode styles */
  .scroll-to-top.dark-mode {
    background-color: #333333a0;
    color: #fff;
  }
  
  .scroll-to-top.dark-mode:hover {
    background-color: #555;
  }  

@media(max-width: 854px) {
    .content{
        a{
            font-size: 16px !important;
            font-weight: 400;
        }
    }
}