@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Satisfy&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  z-index: 9999;
}

.navbar-icon {
  font-size: 20px;
  cursor: pointer;
}

.logo-half {
  color: #5dc930;
}

.dark{
    font-size: 25px;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  color: #1e1e1e;
  cursor: pointer;

  &.dark-mode {
    background-color: #19191951;
    color: #e2e2e2;

    .select-items {
      position: absolute;
      background-color: #2b2b2b;
      border: 1px solid grey;
      border-radius: 5px;
      width: 120px;
      z-index: 99;
      max-height: auto;
      overflow-y: auto;
    }

    .select-item:hover {
      background-color: #818181;
    }
  }
}

.select-selected {
  padding: 8px 12px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-items {
  position: absolute;
  background-color: #fbf9f9;
  border: 1px solid grey;
  border-radius: 5px;
  width: 120px;
  z-index: 99;
  max-height: auto;
  overflow-y: auto;
}

.select-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.select-item:hover {
  background-color: #464646;
  color: white;
}

.flag-icon {
  width: 20px;
  height: auto;
  margin-right: 2px;
  vertical-align: middle;
}

.select-selected.dark-mode,
.select-items.dark-mode {
  background-color: #343a40;
  color: #adb5bd;
  border: none;
}

.select-selected.dark-mode:hover,
.select-items.dark-mode .select-item:hover {
  background-color: #212529;
}

.checkbox-wrapper-54 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
  --width-of-switch: 3.5em;
  --height-of-switch: 1.4em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

.checkbox-wrapper-54 input:checked + .slider {
  background-color: #303136;
}

.checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}