<nav class="navbar">
    <div class="navbar-center">Open<span class="logo-half">Seed</span></div>
    <div class="navbar-icon">
        <a class="github-button" href="https://github.com/akhilpvijayan/openseed" target="_blank"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star"
            data-size="large" aria-label="Star openseed on GitHub" >Star</a>&nbsp;
        <i class="fa-solid fa-sun dark" (click)="toggleDarkMode()" *ngIf="isDarkMode"></i>
        <i class="fa-solid fa-moon dark" (click)="toggleDarkMode()" *ngIf="!isDarkMode"></i>
    </div>
</nav> 