<nav class="navbar" [ngClass]="{ 'dark-mode-nav': isDarkMode }">
    <!-- Navbar space filler to push right content -->
    <div class="navbar-spacer" style="flex: auto;"></div>

    <div class="navbar-right-actions">
        <!-- Language Switcher -->
        <div class="language-selector" (click)="toggleDropdown($event)">
            <div class="current-lang">
                <span
                    class="flag-icon flag-icon-{{ currentLanguage === 'en' ? 'us' : currentLanguage === 'hi' ? 'in' : currentLanguage === 'ml' ? 'in' : currentLanguage }}"></span>
                <span class="lang-text">{{ currentLanguage | uppercase }}</span>
                <i class="fa-solid fa-chevron-down ms-1 text-xs"></i>
            </div>

            <div class="lang-dropdown" *ngIf="dropdownOpen">
                <div class="lang-option" *ngFor="let lang of availableLanguages"
                    (click)="changeLanguage(lang.code); closeDropdown()" [class.active]="currentLanguage === lang.code">
                    <span
                        class="flag-icon flag-icon-{{ lang.code === 'en' ? 'us' : lang.code === 'hi' ? 'in' : lang.code === 'ml' ? 'in' : lang.code }}"></span>
                    {{ lang.label }}
                    <i class="fa-solid fa-check ms-auto" *ngIf="currentLanguage === lang.code"></i>
                </div>
            </div>
        </div>

        <!-- Theme Switcher -->
        <div class="theme-toggle" (click)="toggleDarkMode()">
            <i class="fa-solid fa-moon" [class.active]="isDarkMode"></i>
            <i class="fa-solid fa-sun" [class.active]="!isDarkMode"></i>
        </div>

        <!-- User Profile Area -->
        <div class="user-profile">
            <ng-container *ngIf="user; else loginTemplate">
                <div class="user-info">
                    <span class="user-name">{{ user.displayName }}</span>
                    <span class="user-role" (click)="logout()"
                        style="cursor: pointer; text-decoration: underline;">Logout</span>
                </div>
                <img [src]="user.photoURL || 'assets/default-avatar.png'" alt="Avatar" class="avatar-img">
            </ng-container>

            <ng-template #loginTemplate>
                <div class="login-btn-container">
                    <button class="login-button" (click)="login()">
                        <i class="fa-brands fa-google"></i> Login
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</nav>