<nav class="navbar">
    <div class="custom-select" (click)="toggleDropdown($event)" [ngClass]="{ 'dark-mode': isDarkMode }">
        <div class="select-selected">
            <img [src]="selectedLanguage.flag" alt="{{selectedLanguage.label}} flag" class="flag-icon" />
            {{ selectedLanguage.label.toUpperCase() | translate }}
        </div>
        <div *ngIf="dropdownOpen" class="select-items">
            <div *ngFor="let language of languages" class="select-item" (click)="switchLanguage(language, $event)">
                <img [src]="language.flag" alt="{{language.label}} flag" class="flag-icon" />
                {{ language.label.toUpperCase() | translate }}
            </div>
        </div>
    </div>    
    
    <div class="navbar-center">Open<span class="logo-half">Seed</span></div>
    <div class="navbar-icon">
        <a class="github-button" href="https://github.com/akhilpvijayan/openseed" target="_blank"
            data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star"
            data-size="large" aria-label="Star openseed on GitHub">Star</a>&nbsp;
        <i class="fa-solid fa-sun dark" (click)="toggleDarkMode()" *ngIf="isDarkMode"></i>
        <i class="fa-solid fa-moon dark" (click)="toggleDarkMode()" *ngIf="!isDarkMode"></i>&nbsp;
    </div>
</nav>