#boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* This ensures the boxes align at the top */
}

/* Left box positioned at the center left of the container */
#leftbox {
    width: 35%;
    height: 100%;
    margin-right: 1%; 
    margin-left: 1%; /* Space between left box and middle box */
    align-self: center; /* Aligns to the center of the container */
    height: calc(100vh - 80px);
}

/* Middle box positioned in the center */
#middlebox {
    width: 65%;
    overflow-y: auto;
    height: 100%;
    height: calc(100vh - 90px);
}

.filter-bar{
    display: none;
}

@media(max-width: 854px){
    #leftbox {
        display: none;
    }

    #middlebox {
        width: 100%;
    }

    .filter-bar{
        display: flex;
        background-color: rgba(128, 128, 128, 0.179);
        padding: 5px;
        width: 100%;

        .filter{
            float: right;
            font-size: large;
            margin-left: 94%;
        }
    }

    /* Modal-style popup */
.filter-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 100000;
    width: 90%;
    max-width: 600px;
    max-height: 80vh; /* Define a maximum height for the popup */
    overflow-y: auto;  /* Enable vertical scrolling if content exceeds height */
    border-radius: 8px;
  }
  
  /* Overlay background */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  /* Close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #6b6b6b;
  }
  
}